#forgot_password{
    -fx-text-fill: #ffffff
}
#forgot_password:hover{
    -fx-font-size: 18;
}
#button{
    -fx-background-color: #0d4c80;
    -fx-text-fill: #ffffff;
}
#button:hover{
    -fx-background-color: #072393;
}
#button:pressed{
    -fx-background-color: linear-gradient(#091169, #030034);
}
#lable_log_in{
    -fx-text-fill:#099cef ;
}
#boarder{
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-border-width:5;
    -fx-border-color: #ffffff;
    -fx-background-color: #0fabad;
    -fx-effect: dropshadow( gaussian , rgb(27, 101, 94), 15, 1.0 , 0 , 0 );
}
#next{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#498fd7, #254277);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#next:hover {
    -fx-background-color: linear-gradient(#0b4a8f, #00164f);
}
#next:pressed{
    -fx-background-color: linear-gradient(#4d79a1, #b2daf3);
}
#cancel{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#858585, #4d4d4d);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#cancel:hover {
    -fx-background-color: linear-gradient(#484848, #282828);
}
#cancel:pressed{
    -fx-background-color: linear-gradient(#cbcbcb, #adadad);
}
#registered{
    -fx-text-fill: #ffffff;
}
#leftcolor{
    -fx-background-color: linear-gradient(#3dbd93, #04805f);
}
#pharmacy{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-width:2;
    -fx-border-color: #2f2f2f;
    -fx-background-color: linear-gradient(#ffffff, #a8a8a8);
    -fx-effect: dropshadow( gaussian , #2f2f2f, 10, 0.8 , 0 , 0 );
}
#anchor_pane{
    -fx-background-color: #2f2f2f;
}